astunparse
blendmodes
accelerate
basicsr
fonts
font-roboto
gfpgan
gradio==3.29.0
numpy
omegaconf
opencv-contrib-python
requests
piexif
Pillow
pytorch_lightning==1.7.7
realesrgan
scikit-image>=0.19
timm==0.4.12
transformers==4.25.1
torch
einops
jsonmerge
clean-fid
resize-right
torchdiffeq
kornia
lark
inflection
GitPython
torchsde
safetensors
psutil
rich
aiohttp
pyyaml
scipy
tqdm
cmake
fairscale>=0.4.4
git+https://github.com/WASasquatch/img2texture.git
gitpython
imageio
joblib
matplotlib
numba
numpy<1.24>=1.18
opencv-python-headless[ffmpeg]
pilgram
git+https://github.com/WASasquatch/ffmpy.git
rembg
scikit-learn
torchvision
prettytable==3.6.0
addict
yapf
mediapipe
fvcore
ftfy